// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: inherit;
    display: inline-block;
}

a:hover {
    color: inherit;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif !important;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0 !important;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wrapper.home .main_container {
    max-width: 1440px;
    padding: 0 40px;
}

.container_wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main_container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

// main
main {
    background-image: url('../images/home_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
// main

.close {
    position: fixed;
    top: 20px;
    left: 290px;
    z-index: 5;
    display: none;
    flex-direction: column;
    gap: 5px;

    span {
        height: 2px;
        width: 40px;
        background-color: #fff;
    }

    .one {
        transform: rotate(-45deg) translateY(4px);
    }

    .two {
        transform: rotate(45deg) translateY(-5px);
    }
}

.close.active {
    display: flex;
}

.media_menu_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    display: none;
    z-index: 3;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.media_menu_bg.active {
    display: block;
}

// media_menu
.media_menu {
    z-index: 4;
    position: fixed;
    @include transition();
    left: -100%;
    height: 100%;
    width: 280px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        font-size: 25px;
    }
}

.media_menu.active {
    left: 0;
}
// media_menu

// header
header {
    padding-top: 25px;

    .burger {
        display: none;
        flex-direction: column;
        gap: 5px;

        span {
            height: 2px;
            width: 30px;
            background-color: #fff;
        }
    }

    .header_link, .language {
        a {
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
        }
    }

    .header_link {
        gap: 23px;
    }

    .language {
        gap: 7px;
    }
}
// header

// home
.home {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
// home

// about
.about {
    padding: 55px 0;
    h6 {
        font-size: 35px;
        color: rgb(245, 125, 30);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .about_content {
        gap: 15px;
    }

    p {
        font-size: 15px;
        color: rgb(52, 52, 52);
        line-height: 1.2;
    }
}
// about

// block
.block {
    padding: 80px 0;
    background-color: rgb(245, 125, 30);
    .main_container {
        gap: 20px;
    }

    h6 {
        font-size: 35px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
    }


    p {
        max-width: 1000px;
        font-size: 30px;
        color: white;
        line-height: 1.2;
    }
}
// block

// team
.team {
    padding: 50px 0;

    h6 {
        font-size: 35px;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2; 
        margin-bottom: 20px;
    }

    p {
        font-size: 15px;
        color: rgb(52, 52, 52);
        line-height: 1.2;
        margin-bottom: 30px;
    }

    .team_cards {
        gap: 36px;
    }

    .team_card {
        max-width: 300px;

        .team_card_img {
            position: relative;

            .tema_card_img_text {
                background: rgba(116, 116, 116, 0.4);
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 12px;
                width: 100%;
                font-size: 15px;
                color: rgb(255, 255, 255);
                line-height: 1.2;
            }
        }

        .team_card_text {
            padding: 12px;
        }

        h6 {
            color: rgb(245, 125, 30);
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
}
// team

// team_under
.team_under {
    padding-bottom: 100px;
    h6 {
        font-size: 35px;
        color: rgb(245, 125, 30);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2; 
        margin-bottom: 10px;
    }

    p {
        max-width: 600px;
        font-size: 15px;
        color: rgb(52, 52, 52);
        line-height: 1.2;
        margin-bottom: 30px;
    }
}
// team_under

// footer
footer {
    background-color: rgb(245, 125, 30);
    padding: 35px 0 45px 0;

    ul {
        gap: 10px;

        address,
        a {
            margin-bottom: 0;
            font-size: 15px;
            color: white;
            line-height: 1.2;
        }
    }
}
// footer

@media only screen and (max-width: 993px) {
    .about {
        .about_text {
            margin-bottom: 30px;
        }

        .about_img {
            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main_container {
        padding: 0 20px;
    }

    header {
        .burger {
            display: flex;
        }

        .header_link {
            display: none !important;
        }
    }
    
    footer {
        .main_container {
            flex-direction: column;
            gap: 30px;
        }
    }
    
    .team {
        .team_card {
            max-width: 520px;

            .team_card_img {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    h6 {
        font-size: 25px !important;
    }

    p {
        font-size: 15px !important;
    }
}