* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0 !important;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper.home .main_container {
  max-width: 1440px;
  padding: 0 40px;
}

.container_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.main_container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

main {
  background-image: url("../images/home_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.close {
  position: fixed;
  top: 20px;
  left: 290px;
  z-index: 5;
  display: none;
  flex-direction: column;
  gap: 5px;
}
.close span {
  height: 2px;
  width: 40px;
  background-color: #fff;
}
.close .one {
  transform: rotate(-45deg) translateY(4px);
}
.close .two {
  transform: rotate(45deg) translateY(-5px);
}

.close.active {
  display: flex;
}

.media_menu_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
  z-index: 3;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.media_menu_bg.active {
  display: block;
}

.media_menu {
  z-index: 4;
  position: fixed;
  transition: 0.2s ease;
  left: -100%;
  height: 100%;
  width: 280px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.media_menu a {
  font-size: 25px;
}

.media_menu.active {
  left: 0;
}

header {
  z-index: 3;
  padding-top: 25px;
}
header .burger {
  display: none;
  flex-direction: column;
  gap: 5px;
}
header .burger span {
  height: 2px;
  width: 30px;
  background-color: #fff;
}
header .header_link a, header .language a {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
header .header_link {
  gap: 23px;
}
header .language {
  gap: 7px;
}

.home {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.home .home_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.home .home_text h1 {
  font-size: 50px;
  color: #fff;
}

.text_animation {
  width: 188px;
  height: 179px;
  position: relative;
  left: 0;
  overflow: hidden;
}
.text_animation_in {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 173.5px;
  overflow: hidden;
}
.text_animation .letter_line {
  position: absolute;
  top: 0;
  width: 10px;
  background: transparent;
  border-radius: 1px;
}
.text_animation .letter_line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(245, 125, 30);
  z-index: 2;
  opacity: 0;
}
.text_animation .letter_line_1 {
  height: 100%;
  left: 0;
}
.text_animation .letter_line_2 {
  height: 120%;
  left: 32.5px;
  top: -20px;
  transform: rotateZ(-23.5deg);
}
.text_animation .letter_line_3 {
  width: 50px;
  height: 10px;
  left: 0;
  top: 112.5px;
}
.text_animation .letter_line_4 {
  height: calc(100% + 29px);
  left: 46.5px;
  top: -20px;
  transform: rotateZ(-23.5deg);
}
.text_animation .letter_line_5 {
  height: calc(100% + 29px);
  left: 127.5px;
  top: -20px;
  transform: rotateZ(23.5deg);
}
.text_animation .letter_line_6 {
  height: 100%;
  left: auto;
  right: 0;
  top: 0;
}
@keyframes letter1 {
  from {
    height: 0;
    opacity: 1;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
.text_animation.active .letter_line_1::after {
  top: auto;
  bottom: 0;
  animation: letter1 0.7s linear forwards;
  animation-delay: 0.3s;
}
@keyframes letter2 {
  from {
    height: 0;
    opacity: 1;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
.text_animation.active .letter_line_2::after {
  animation: letter2 0.7s linear forwards;
  animation-delay: 0.3s;
}
@keyframes letter3 {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
.text_animation.active .letter_line_3::after {
  right: 0;
  left: auto;
  animation: letter3 0.6s linear forwards;
  animation-delay: 0.4s;
}
@keyframes letter4 {
  from {
    height: 0;
    opacity: 1;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
.text_animation.active .letter_line_4::after {
  bottom: 0;
  top: auto;
  animation: letter4 0.6s linear forwards;
  animation-delay: 0.5s;
}
@keyframes letter5 {
  from {
    height: 0;
    opacity: 1;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
.text_animation.active .letter_line_5::after {
  bottom: 0;
  top: auto;
  animation: letter5 0.6s linear forwards;
  animation-delay: 0.5s;
}
@keyframes letter6 {
  from {
    height: 0;
    opacity: 1;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
.text_animation.active .letter_line_6::after {
  animation: letter6 0.6s linear forwards;
  animation-delay: 0.5s;
}

.about {
  padding: 55px 0;
}
.about h6 {
  font-size: 35px;
  color: rgb(245, 125, 30);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
}
.about .about_content {
  gap: 15px;
}
.about p {
  font-size: 15px;
  color: rgb(52, 52, 52);
  line-height: 1.2;
}

.block {
  padding: 80px 0;
  background-color: rgb(245, 125, 30);
}
.block .main_container {
  gap: 20px;
}
.block h6 {
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.block p {
  max-width: 1000px;
  font-size: 30px;
  color: white;
  line-height: 1.2;
}

.team {
  padding: 50px 0;
}
.team h6 {
  font-size: 35px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
}
.team p {
  font-size: 15px;
  color: rgb(52, 52, 52);
  line-height: 1.2;
  margin-bottom: 30px;
}
.team .team_cards {
  align-items: start;
  gap: 36px;
}
.team .team_card {
  max-width: 300px;
}
.team .team_card .team_card_img {
  position: relative;
}
.team .team_card .team_card_img .tema_card_img_text {
  background: rgba(116, 116, 116, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  width: 100%;
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.team .team_card .team_card_img .tema_card_img_text svg {
  width: 15px;
}
.team .team_card .team_card_img .tema_card_img_text:hover {
  gap: 20px;
}
.team .team_card .team_card_text {
  padding: 12px;
}
.team .team_card .team_card_text.active p {
  height: 140px;
}
.team .team_card h6 {
  color: rgb(245, 125, 30);
  font-size: 25px;
  margin-bottom: 10px;
}
.team .team_card p {
  height: 0;
  overflow: hidden;
  transition: 0.2s ease;
}

.team_under {
  padding-bottom: 100px;
}
.team_under h6 {
  font-size: 35px;
  color: rgb(245, 125, 30);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 10px;
}
.team_under p {
  max-width: 600px;
  font-size: 15px;
  color: rgb(52, 52, 52);
  line-height: 1.2;
  margin-bottom: 30px;
}

footer {
  background-color: rgb(245, 125, 30);
  padding: 35px 0 45px 0;
}
footer ul {
  gap: 10px;
}
footer ul address,
footer ul a {
  margin-bottom: 0;
  font-size: 15px;
  color: white;
  line-height: 1.2;
}

@media only screen and (max-width: 993px) {
  .about .about_text {
    margin-bottom: 30px;
  }
  .about .about_img img {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .main_container {
    padding: 0 20px;
  }
  header .burger {
    display: flex;
  }
  header .header_link {
    display: none !important;
  }
  footer .main_container {
    flex-direction: column;
    gap: 30px;
  }
  .team .team_card {
    max-width: 520px;
  }
  .team .team_card .team_card_img {
    width: 100%;
  }
  .team .team_card .team_card_img img {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .home .home_text {
    flex-direction: column;
    text-align: center;
  }
  .home .home_text h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 576px) {
  h6 {
    font-size: 25px !important;
  }
  p {
    font-size: 15px !important;
  }
}/*# sourceMappingURL=style.css.map */